services:
  php:
    build:
      context: .
      dockerfile: Dockerfile.php
    volumes:
      - ./php:/var/www/html
      - ./:/usr/src/app
    environment:
      - INFLUX_HOST=http://influxdb:8086
      - INFLUX_ORG=org
      - INFLUX_BUCKET=measurements
      - INFLUX_TOKEN=my-secret-token
    depends_on:
      - influxdb

  nginx:
    image: nginx:latest
    ports:
      - "48080:80"
    volumes:
      - ./php:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  nodered:
    build:
      context: .
      dockerfile: Dockerfile.nodered
    ports:
      - "41880:1880"
    volumes:
      - ./nodered:/data
    restart: unless-stopped
    depends_on:
      - influxdb

  influxdb:
    image: influxdb:2-alpine
    restart: unless-stopped
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=user
      - DOCKER_INFLUXDB_INIT_PASSWORD=password
      - DOCKER_INFLUXDB_INIT_ORG=org
      - DOCKER_INFLUXDB_INIT_BUCKET=measurements
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-secret-token

  mariadb:
    image: mariadb:latest
    restart: unless-stopped
    volumes:
      - ./mariadb:/docker-entrypoint-initdb.d:ro
    environment:
      - MYSQL_ROOT_PASSWORD=password
  
  grafana:
    image: grafana/grafana
    restart: unless-stopped
    ports:
      - "43001:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=grapass
      - GF_INSTALL_PLUGINS=yesoreyeram-infinity-datasource
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    depends_on:
      - influxdb
      - mariadb
